h3 {
    text-align: center;
    padding: 2%;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 40%;
    border: 1px solid #212529;
}

th, td {
    padding: 8px;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

th {
    background-color: #212529;
    color: #FFFFFF;
}