<section class="py-5 mt-5 mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="display-6">Achievements</h2><br><br>
                <pre>
2019	<b>With High Honors</b>
                Senior High School (HAU)

2017	<b>With High Honors</b>
                Junior High School (PMCHS)

2013	<b>Class Valedictorian</b>
                Elementary (DECI)

2016	<b>1<sup>st</sup> Place Webpage Designing</b>
                Cluster Schools Competition
                Cluster II Division of Pampanga
                </pre>
            </div>
            <div class="col">
                <h2 class="display-6">Education</h2><br><br>
                <pre>
2019 - Present	<b>Holy Angel University (HAU)</b>
                                Bachelor of Science in Information 
                                Technology with Area of 
                                Specialization in Web Development

2017 - 2019		<b>Holy Angel University (HAU)</b>
                                Academic Track: STEM (Science, 
                                Technology, Engineering and 
                                Mathematics) Strand
                                Senior High School Diploma

2013 - 2017		<b>Porac Model Community High School 
                                (PMCHS)</b>
                                High School Diploma

2007 - 2013		<b>Diamond Educational Center Inc. 
                                (DECI)</b>
                                Elementary Diploma
                                </pre>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#"><img src="./assets/facebook-5-48.png"></a>
  
        <!-- Twitter -->
        <a href="#"><img src="./assets/twitter-5-48.png"></a>
  
        <!-- Google -->
        <a href="#"><img src="./assets/google-plus-5-48.png"></a>
  
        <!-- Instagram -->
        <a href="#"><img src="./assets/instagram-5-48.png"></a>
  
        <!-- Pinterest -->
        <a href="#"><img src="./assets/pinterest-5-48.png"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Almond Rosos</a>
    </div>
    <!-- Copyright -->
  </footer>