<h1 style="text-align: center;padding: 2.5%; color: #ffffff;">LAB 6: Directives Demo</h1>

<div class="accordion" id="accordionExample" style="max-width: 60%; margin: auto; font-size: 18px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ngIf Statement
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <span *ngIf="true">This is a message displayed by using an <strong>ngIf statement</strong> with a value of <code>true</code>.</span><br>
          The message above won't be displayed once the value is set to <code>false</code>.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ngIfElse Statement
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is a demonstration of the <strong>ngIfElse statement</strong>. The message will display <i><strong>YOU ARE LOGGED IN</strong></i> if the boolean value <code>isLogIn</code> returns <code>true</code>, or else the message will be <i><strong>YOU ARE LOGGED OUT</strong></i>. <br><br>
          <strong>ARE YOU LOGGED IN OR OUT?</strong> : &nbsp;
          <span *ngIf="isLogIn; else isLogOut" style="color: green;"><i><strong>YOU ARE LOGGED IN</strong></i></span>
          <ng-template #isLogOut style="color: red;"><i><strong>YOU ARE LOGGED OUT</strong></i></ng-template>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ngFor Statement
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ol>
              <li><strong>Students</strong></li>
              The following lists the students' names and ID numbers using the <strong>ngFor statement with trackBy</strong>:
              <ul style="list-style-type: none;">
                <li *ngFor="let u of studentArr; trackBy: trackByData">
                    <strong>Name</strong>: &nbsp; {{u.name}} &nbsp; <strong>ID</strong>: &nbsp; {{u.id}}
                </li>
              </ul>
              <li><strong>Employees</strong></li>
              The following displays employee information in a table by also using the <strong>ngFor statement</strong>:
              <table class="table table-striped table-bordered" style="margin-top: 15px; max-width: 85%;">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Role</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let v of employeeArr">
                          <td>{{v.fName}} {{v.lName}}</td>
                          <td>{{v.email}}</td>
                          <td>{{v.role}}</td>
                      </tr>
                  </tbody>
              </table>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ngSwitch Statement
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The text below will display the text in <span style="color: blue;">blue</span> if the <strong>user</strong> role is logged in, <span style="color: green;">green</span> if the <strong>admin</strong> role is logged in, and black if an unassigned user role is logged in. <i>Note: <code>isloginName</code> is set to <u>admin</u> so an admin user will be displayed.</i> <br><br>
            <ul [ngSwitch]="loginName" style="list-style-type: none;">
                <li *ngSwitchCase="'user'" style="color: blue;"><strong>User is logged in.</strong></li>
                <li *ngSwitchCase="'admin'" style="color: green;"><strong>Admin Almond is logged in.</strong></li>
                <li *ngSwitchDefault=""><strong>Unassigned user is logged in.</strong></li>
            </ul>
          </div>
        </div>
    </div>
  </div>