<h2>Date Pipes</h2>

<div>Today's date :- {{presentDate}}</div>

<h4><i>Added date pipe output:</i></h4>
<div>Today's date :- {{presentDate | date}}</div>   

<h4><i>Different date formats:</i></h4>
<div>
    This is a short date :- {{presentDate | date:'shortDate'}} <br>
    This is a full date :- {{presentDate | date:'fullDate'}} <br>
    This is a formatted date :- {{presentDate | date:'M/dd/yyyy'}} <br>
    This indicates the hours and minutes :- {{presentDate | date:'h:mm'}} <br>
    Almond Rosos
</div>

<h4><i>Chained pipes:</i></h4>
<div>
    Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br>
    Date with lowercase :- {{presentDate | date:'medium' | lowercase}}
</div>

<h4><i>Asyncpipe:</i></h4>
<div>
    <p>observable|async: Time: {{time | async}}</p>
</div>