<section id="about" class="section-padding about-area" style="margin-top:5%;">
    <div class="container">
        <!-- Section Title -->
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-title text-center">
                    <h2>About Me</h2>
                    <p>Get to know a little bit more about who I am and what I do.</p>
                    <br><br>
                </div>
            </div>
        </div>
        <!-- //Section Title -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-bg" style="background-image:url(./assets/about-me.jpg)"></div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h2>hello, i am <span>almond rosos</span>.</h2>
                    <h4>aspiring web designer and graphic designer</h4>
                    <p>I'm a 21-year old web development major at Holy Angel University in Pampanga, Philippines. I've had my passion for web design ever since high school and I'm currently taking leaps forward to advance in my craft. I love doing projects that require front-end development which is why I specialize in the HTML and CSS languages. I also design graphics and logos for school projects.</p><br>
                    <p>When I'm not coding, you may find me spending most of my time listening to music, watching YouTube, or playing online games. Over a decade ago, I started a store to sell personal things online. None of the ecommerce solutions at the time gave us the control we needed to be successful—so I built my own. Today, businesses of all sizes use <strong>AR Shopping</strong> , whether they’re selling online, in retail stores, or on-the-go. AR Shopping is a shop I started of personal interest and a means to provide for my family. Please enjoy shopping and have fun visiting my website!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#"><img src="./assets/facebook-5-48.png"></a>
  
        <!-- Twitter -->
        <a href="#"><img src="./assets/twitter-5-48.png"></a>
  
        <!-- Google -->
        <a href="#"><img src="./assets/google-plus-5-48.png"></a>
  
        <!-- Instagram -->
        <a href="#"><img src="./assets/instagram-5-48.png"></a>
  
        <!-- Pinterest -->
        <a href="#"><img src="./assets/pinterest-5-48.png"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Almond Rosos</a>
    </div>
    <!-- Copyright -->
  </footer>