<section id="about" class="section-padding about-area" style="margin-top:5%;">
    <div class="container" *ngIf="true">
        <!-- Section Title -->
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-title text-center">
                    <h2>Shop Now!</h2>
                    <p>Browse our collection of different products and view their details.</p>
                    <br><br>
                </div>
            </div>
            <div class="container" style="width: 80%;">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/tshirt.jpg" alt="shirt" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>T-Shirts</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/shoes.jpg" alt="shoes" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>Shoes</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/handbag.jpg" alt="handbag" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>Handbag</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/joggingpants.jpg" alt="pants" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>Jogging Pants</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/faceshield.jpg" alt="shield" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>Face Shield</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <img src="./assets/mugs.jpg" alt="mugs" style="width:100%">
                            <div class="container">
                                <br>
                                <h4><b>Mugs</b></h4> <br>
                                <button type="button" class="btn btn-outline-dark"><a routerLink="../product-details" style="text-decoration: none; color: black;">View Details</a></button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#"><img src="./assets/facebook-5-48.png"></a>
  
        <!-- Twitter -->
        <a href="#"><img src="./assets/twitter-5-48.png"></a>
  
        <!-- Google -->
        <a href="#"><img src="./assets/google-plus-5-48.png"></a>
  
        <!-- Instagram -->
        <a href="#"><img src="./assets/instagram-5-48.png"></a>
  
        <!-- Pinterest -->
        <a href="#"><img src="./assets/pinterest-5-48.png"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Almond Rosos</a>
    </div>
    <!-- Copyright -->
  </footer>