<h2 class="display-6" style="text-align: center;">My Works</h2><br><br>
<div class="container">
    <div class="polaroid">
        <img src="./assets/dweb.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>Dynamic Web Tools Output</h4>
        </div>
    </div>
    <div class="polaroid">
        <img src="./assets/dweb2.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>Dynamic Web Tools Output with form connected to a database</h4>
        </div>
    </div>
    <div class="polaroid">
        <img src="./assets/mockup.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>Application Development Mockup</h4>
        </div>
    </div>
    <div class="polaroid">
        <img src="./assets/okada2.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>Web Technologies Output</h4>
        </div>
    </div>
    <div class="polaroid">
        <img src="./assets/okada1.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>Web Technologies Output</h4>
        </div>
    </div>
    <div class="polaroid">
        <img src="./assets/weartoslay.png" style="width: 100%; height: auto;">
        <div class="container1">
            <h4>First Website Deployed using WordPress</h4>
        </div>
    </div>
  </div>
  <br><br><br>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#"><img src="./assets/facebook-5-48.png"></a>
  
        <!-- Twitter -->
        <a href="#"><img src="./assets/twitter-5-48.png"></a>
  
        <!-- Google -->
        <a href="#"><img src="./assets/google-plus-5-48.png"></a>
  
        <!-- Instagram -->
        <a href="#"><img src="./assets/instagram-5-48.png"></a>
  
        <!-- Pinterest -->
        <a href="#"><img src="./assets/pinterest-5-48.png"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Almond Rosos</a>
    </div>
    <!-- Copyright -->
  </footer>