<section class="py-5 mt-5 mb-5">
<div class="container">
    <h1>All About Me</h1>
    <br><br><br>
    <div class="container">
    <div class="row">
        <div class="col">
            <img src="./assets/profile.jpg" alt="PROFILE PICTURE" />
        </div>
        <div class="col-6">
            <h2 class="display-6">Almond Lansang Rosos</h2><br><br><br>
            <pre>
<b>Age</b>		        :   20
<b>Date of Birth</b>	:   January 28, 2001
<b>Civil Status</b>	:   Single
<b>Height</b>		:   167 cm (5ft 6in)
<b>Gender</b>		:   Male
<b>Citizenship</b>	:   Filipino
<b>Religion</b>	        :   Roman Catholic
<b>Language</b>	:   Filipino, English, Kapampangan
            </pre>
        </div>
    </div>
    </div>
</div>
</section>

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#"><img src="./assets/facebook-5-48.png"></a>
  
        <!-- Twitter -->
        <a href="#"><img src="./assets/twitter-5-48.png"></a>
  
        <!-- Google -->
        <a href="#"><img src="./assets/google-plus-5-48.png"></a>
  
        <!-- Instagram -->
        <a href="#"><img src="./assets/instagram-5-48.png"></a>
  
        <!-- Pinterest -->
        <a href="#"><img src="./assets/pinterest-5-48.png"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Almond Rosos</a>
    </div>
    <!-- Copyright -->
  </footer>